@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: white;
  @media only screen and (max-width: 480px) {
    padding-top: 80px;
  }
}

canvas {
  cursor: default;
  outline: thick solid black;
  touch-action: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
